<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="card mx-4">
              <div class="card-body p-4">
                <form [formGroup]="signupform" (ngSubmit)="regist()">
                  <h1>Register</h1>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" name="username" formControlName="username"  class="form-control" placeholder="Tên tài khoản" autocomplete="username" required>
                  </div>
                  <div *ngIf="username.invalid && (username.dirty || username.touched)" class="mb-3 alert alert-danger danger">
                    <div *ngIf="username.errors.required">Tên tài khoản không được để trống.</div>
                    <div *ngIf="username.errors.minlength || username.errors.maxlength">Tên tài khoản phải dài từ 3-255 kí tự.</div>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">@</span>
                    </div>
                    <input type="text" formControlName="email"  class="form-control" placeholder="Email" autocomplete="email" required>
                  </div>
                  <div *ngIf="email.invalid && (email.dirty || email.touched)" class="mb-3 alert alert-danger danger">
                    <div *ngIf="email.errors.required">Email không được để trống.</div>
                    <div *ngIf="email.errors.email">Email không đúng định dạng.</div>
                    <div *ngIf="email.errors.maxlength">Email quá dài.</div>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" formControlName="fname"  class="form-control" placeholder="First Name" autocomplete="username" required>
                  </div>
                  <div *ngIf="fname.invalid && (fname.dirty || fname.touched)" class="mb-3 alert alert-danger danger">
                    <div *ngIf="fname.errors.required">First name không được để trống.</div>
                    <div *ngIf="fname.errors.maxlength">First name quá dài.</div>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" formControlName="lname"  class="form-control" placeholder="Last Name" autocomplete="username" required>
  
                  </div>
                  <div *ngIf="lname.invalid && (lname.dirty || lname.touched)" class="mb-3 alert alert-danger danger">
                    <div *ngIf="lname.errors.required">Last name không được để trống.</div>
                    <div *ngIf="lname.errors.maxlength">Last name quá dài.</div>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" formControlName="password"  class="form-control" placeholder="Mật khảu" autocomplete="new-password" required>
                  </div>
                  <div *ngIf="password.invalid && (password.dirty || password.touched)" class="mb-3 alert alert-danger danger">
                    <div *ngIf="password.errors.required">Mật khẩu không được để trống.</div>
                    <div *ngIf="password.errors.minlength || password.errors.maxlength">Mật khẩu phải dài từ 3-255 kí tự.</div>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" formControlName="confirm"  class="form-control" placeholder="Nhập lại mật khẩu" autocomplete="new-password" required>
                  </div>
                  <div *ngIf="confirm.invalid && (confirm.dirty || confirm.touched)" class="mb-3 alert alert-danger danger">
                    <div *ngIf="confirm.errors.required">Mật khẩu không được để trống.</div>
                    <div *ngIf="confirm.errors.minlength || username.errors.maxlength">Mật khẩu phải dài từ 3-255 kí tự.</div>
                  </div>
                  <button type="submit" class="btn btn-block btn-success">Create Account</button>
                </form>
              </div>
              <div class="card-footer p-4">
                <div class="row">
                  <div class="col-6">
                    <button class="btn btn-block btn-facebook" type="button"><span>facebook</span></button>
                  </div>
                  <div class="col-6">
                    <button class="btn btn-block btn-twitter" type="button"><span>twitter</span></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  