<div class="container-fluid">
  <p-galleria [images]="images" styleClass="completa" panelWidth="500" panelHeight="313" [showFilmstrip]="true"
  [showCaption]="false"></p-galleria>
</div>
<kendo-grid [data]="gridData"
 [pageSize]="state.take"
  [skip]="state.skip"
   [sort]="state.sort"
    [filter]="state.filter"
[sortable]="true"
 [pageable]="true"
  [filterable]="true"
  (dataStateChange)="dataStateChange($event)">
          <kendo-grid-column field="Username" title="Nhân viên">
            <ng-template kendoGridCellTemplate let-User>
              <div class="customer-photo">
                  <img src="{{User.Avatar}}">
              </div>
              <div class="customer-name">
                  {{ User.Username }}
              </div>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="FName" title="Họ"></kendo-grid-column>
          <kendo-grid-column field="LName" title="Tên"></kendo-grid-column>
          <kendo-grid-column field="Email" title="Phòng ban"></kendo-grid-column>
          <kendo-grid-column title="Xóa thông tin">
              <ng-template kendoGridCellTemplate let-User>
                <div>
                    <button kendoButton  (click)="open(User)" primary="true" >Xóa thông tin</button>
                </div>
              </ng-template>
          </kendo-grid-column>
</kendo-grid>
<kendo-dialog title="Xác thực" *ngIf="dialogOpened" (close)="close('dialog')" [minWidth]="250" [width]="450">
    <p style="margin: 30px; text-align: center;">Bạn chắc chắn muốn thông tin nhân viên {{selectedUser.Username}} chứ ?</p>
    <kendo-dialog-actions>
        <button kendoButton (click)="close('yes'); deleteUser(selectedUser);" primary="true">Yes</button>
        <button kendoButton (click)="close('no')" >No</button>
    </kendo-dialog-actions>
</kendo-dialog>
<p-toast [style]="{marginTop: '80px'}"></p-toast>